
.cosci-logo {
    width: 200px;
    height: auto;
    margin: 10px 20px;
}    
.in-body {
display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.logohome {
    width: auto;
    height: 400px;
    position: absolute;
    top: 90px;
}
.loginbox {
    background-color: white;
    width: 100vw;
    height: 70vh;
    margin: auto;
    margin-top: 30px;
    display: inline-block;
    padding: 40px 18px;
    border-radius: 15px;
}