
.cosci-logo {
    width: auto;
    height: 70px;
    margin: 10px 20px;
    display: inline;
}    
.in-body {
display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.login,
.image {
  min-height: 100vh;
}

.login-btn {
    background-color: #18477e;
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    cursor: pointer;
}

.user-btn {
    background-color: #18477e;
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    cursor: pointer;
}